body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

/* Part A: Box Model */
.box {
    background-color: lightblue;
}

.box1 {
    width: 200px;
    height: 100px;
    padding: 20px;
    border: 3px solid blue;
    margin: 10px;
}

.box2 {
    width: 220px;
    height: 120px;
    padding: 30px;
    border: 5px dashed green;
    margin: 20px;
}

.box3 {
    width: 180px;
    height: 90px;
    padding: 15px;
    border: 4px dotted red;
    margin: 30px;
}

/* Part B: Box Sizing */
.default-box {
    width: 200px;
    padding: 20px;
    border: 5px solid black;
    background-color: lightcoral;
    margin-bottom: 10px;
}

.border-box {
    width: 200px;
    padding: 20px;
    border: 5px solid black;
    box-sizing: border-box;
    background-color: lightgreen;
}

/* Part C: Display Properties */
.block {
    display: block;
    background-color: orange;
    margin: 10px 0;
}

.inline {
    display: inline;
    background-color: yellow;
    padding: 5px;
}

.inline-block {
    display: inline-block;
    width: 150px;
    height: 50px;
    background-color: violet;
    margin: 5px;
    text-align: center;
    line-height: 50px;
}

.none {
    display: none;
}

/* Part D: Visibility vs Display */
.visible-box {
    background-color: lightgray;
    padding: 10px;
    margin: 10px 0;
}

.hidden-box {
    visibility: hidden;
    background-color: pink;
    padding: 10px;
    margin: 10px 0;
}

.none-box {
    display: none;
    background-color: brown;
    padding: 10px;
}
